h1{
  font-family: 'Russo One', sans-serif;
  font-size: 4rem;

}

.list {
  display:flex;
flex-wrap:wrap;
justify-content: flex-start;
flex-direction: row;
}

.stockul{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  justify-items: flex-start;
}

.headbar {
  display:flex;
  justify-content: space-between;
  background-color: rgb(131, 200, 221);
}

li{
  margin: 3%;
  padding:4%;
  width: 40%;
  text-align: center;}

.basketItems {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  justify-items: flex-start;
}